mat-card {
  min-width: 120px;
  margin: 20px;
  text-align: center;
}

.full-width {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

mat-form-field {
  margin-bottom: 1vh;
}
