@{
    ViewData["Title"] = "活動列表";
}

@section Styles {
}

<section class="hero">
    <header class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-item py-0">
                        <a class="title" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/images/ssc-logo-dark.svg" alt="" height="28" />
                        </a>
                    </span>
                    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <a class="button is-outlined" asp-area="" asp-controller="Home" asp-action="Index">
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                <span>首頁</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a class="button is-outlined" asp-area="" asp-controller="Home" asp-action="Privacy" target="_blank">
                                <span class="icon">
                                    <i class="fas fa-shield-alt"></i>
                                </span>
                                <span>隱私權</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a class="button is-outlined" asp-area="" asp-controller="Home" asp-action="Credits">
                                <span class="icon">
                                    <i class="fas fa-balance-scale"></i>
                                </span>
                                <span>原始碼</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a class="button is-primary" asp-area="" asp-controller="Account" asp-action="Login">
                                <span class="icon">
                                    <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span>登入</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="hero-body">
        <div class="container is-max-desktop">
            <nav class="panel is-dark">
                <p class="panel-heading">@ViewData["Title"]</p>
                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Search">
                        <span class="icon is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
                <p class="panel-tabs">
                    <a class="is-active">All</a>
                    <a>Public</a>
                    <a>Private</a>
                    <a>Sources</a>
                    <a>Forks</a>
                </p>
                <a class="panel-block is-active">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    bulma
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    marksheet
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    minireset.css
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    jgthms.github.io
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-code-branch" aria-hidden="true"></i>
                    </span>
                    daniellowtw/infboard
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-code-branch" aria-hidden="true"></i>
                    </span>
                    mojs
                </a>
                <label class="panel-block">
                    <input type="checkbox">
                    remember me
                </label>
                <nav class="panel-block pagination is-centered" role="navigation" aria-label="pagination">
                    <a class="pagination-previous">上一頁</a>
                    <a class="pagination-next">下一頁</a>
                    <ul class="pagination-list">
                        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                        <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                    </ul>
                </nav>
            </nav>
        </div>
    </main>
    <footer class="hero-foot">
        <div class="content has-text-centered">
            <p>Copyright &copy; 2021 成就學生中心</p>
        </div>
    </footer>
</section>

@section Scripts {
}