<div mat-dialog-title>新增參與者</div>
<form [formGroup]="addAttendeeForm" novalidate #formDirective="ngForm" (ngSubmit)="onSubmit(addAttendeeForm.value, formDirective)" method="POST">
  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>參與者學號</mat-label>
          <input type="text" matInput placeholder="參與者學號" formControlName="nid" required>
          <mat-error *ngIf="addAttendeeForm.controls['nid'].hasError('required')">
            參與者學號是<strong>必填的</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>參與者姓名</mat-label>
          <input type="text" matInput placeholder="參與者姓名" formControlName="name" required>
          <mat-error *ngIf="addAttendeeForm.controls['name'].hasError('required')">
            參與者姓名是<strong>必填的</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>參與者系所</mat-label>
          <input type="text" matInput placeholder="參與者系所" formControlName="department" required>
          <mat-error *ngIf="addAttendeeForm.controls['department'].hasError('required')">
            參與者系所是<strong>必填的</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button
      color="primary" type="submit"
      [disabled]="!addAttendeeForm.valid || loading">
      <mat-icon *ngIf="loading">
        <mat-spinner color="accent" diameter="20"></mat-spinner>
      </mat-icon>
      新增
    </button>
    <button mat-raised-button type="button" mat-dialog-close color="warn">取消</button>
  </mat-dialog-actions>
</form>
