:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

mat-dialog-content {
  max-height: unset !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-content {
  height: 150px;
}
