.staff-card {
  min-width: 120px;
  margin-top: 20px;
  margin-bottom: 10vh;
  margin-right: 20px;
  margin-left: 20px;
}

.staff-card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.staff-card-content {
  margin-top: 10px;
}

.add-button {
  margin-right: 15px;
}

table {
  width: 100%;
}
