mat-card {
  min-width: 120px;
  margin: 20px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

mat-card-header > button {
  margin-right: 1.5vw;
}

table {
  width: 100%;
}
