<mat-card>
  <!-- Content -->
  <ng-container *ngIf="!loading && !fetchDataError">
    <mat-card-header>
      <mat-card-title>獲獎者名單</mat-card-title>
      <mat-card-subtitle>清單識別碼：{{itemId}}}</mat-card-subtitle>
      <button mat-mini-fab
        type="button" color="accent"
        [matMenuTriggerFor]="menu"
        matTooltip="下載獲獎者名單"
        aria-label="icon button with a arrow_downward icon">
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </mat-card-header>
    <mat-menu #menu="matMenu">
      <button type="button" (click)="exportXlsx()" mat-menu-item>{{item.name}}.xlsx</button>
      <button type="button" (click)="exportCsv()" mat-menu-item>{{item.name}}.csv</button>
      <button type="button" (click)="exportJson()" mat-menu-item>{{item.name}}.json</button>
    </mat-menu>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>獲獎者識別碼</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <!-- NID Column -->
        <ng-container matColumnDef="nid">
          <th mat-header-cell *matHeaderCellDef>獲獎者學號</th>
          <td mat-cell *matCellDef="let element">{{element.nid}}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>獲獎者姓名</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <!-- Department Column -->
        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef>獲獎者系所</th>
          <td mat-cell *matCellDef="let element">{{element.department}}</td>
        </ng-container>
        <!-- IsAwarded Column -->
        <!-- <ng-container matColumnDef="isAwarded">
          <th mat-header-cell *matHeaderCellDef>參與者是否得獎</th>
          <td mat-cell *matCellDef="let element">{{element.isAwarded}}</td>
        </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [length]="pageLength"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        showFirstLastButtons></mat-paginator>
    </mat-card-actions>
  </ng-container>
  <!-- Loading -->
  <ng-container *ngIf="loading">
    <mat-card-header>
      <mat-card-title>載入中</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <mat-spinner></mat-spinner>
    </mat-card-content>
  </ng-container>
  <ng-container *ngIf="fetchDataError">
    <mat-card-header>
      <mat-card-title>發生錯誤</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <button type="button" (click)="reload()" mat-stroked-button>重新載入</button>
    </mat-card-content>
  </ng-container>
</mat-card>
