<div class="background">
  <mat-toolbar color="primary">
    <a [routerLink]="['/']" matTooltip="Home" class="title">新鮮人成長營抽獎系統</a>
  </mat-toolbar>
  <mat-card class="mat-elevation-z0">
    <!-- Content -->
    <ng-container *ngIf="!loading && !fetchDataError">
      <img mat-card-image src="assets/images/raffle-background.jpg" alt="Photo of a Background">
      <mat-card-actions>
        <button mat-raised-button color="primary" class="start-button"
          *ngFor="let item of items">
          {{item.name}}
        </button>
      </mat-card-actions>
    </ng-container>
    <!-- Loading -->
    <ng-container *ngIf="loading">
      <mat-card-header>
        <mat-card-title>載入中</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-spinner></mat-spinner>
      </mat-card-content>
    </ng-container>
    <!-- Error -->
    <ng-container *ngIf="fetchDataError">
      <mat-card-header>
        <mat-card-title>發生錯誤</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-stroked-button (click)="reload()" type="button">重新載入</button>
      </mat-card-content>
    </ng-container>
    <mat-card-footer><p class="mat-body-strong">Powered by HackerSir</p></mat-card-footer>
  </mat-card>
</div>
