<div class="container">
  <div class="canvas-box">
    <canvas id="canvas">瀏覽器不支援canvas</canvas>
    <div id="prizeBar"></div>
    <div id="container"></div>
    <div id="menu">
      <button id="enter">進入抽獎</button>
      <div id="lotteryBar" class="none">
        <button id="lottery">抽獎</button>
        <button id="reLottery">重新抽獎</button>
        <button id="save">輸出抽獎結果</button>
        <button id="reset" class="margin-l-40">重置</button>
      </div>
    </div>
    <div class="qipao-container"></div>
  </div>
</div>
