<mat-card class="raffle-card">
  <mat-card-header class="raffle-card-header">
    <mat-card-title>抽獎活動</mat-card-title>
    <button mat-mini-fab [routerLink]="['/raffle/add']" class="add-button" color="accent" aria-label="icon button with a add icon">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-header>
  <mat-divider [inset]="true" class="divider"></mat-divider>
  <mat-card-content class="raffle-card-content">
    <table mat-table [dataSource]="dataSource" *ngIf="!fetchDataError">
      <!-- Id Column -->
      <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>抽獎活動識別碼</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container> -->
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>名稱</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <!-- Complete Column -->
      <ng-container matColumnDef="complete">
        <th mat-header-cell *matHeaderCellDef>是否完成</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon aria-label="Complete icon" matTooltip="已完成" matTooltipPosition="left" *ngIf="element.complete == true">check_box</mat-icon>
          <mat-icon aria-label="Not Complete icon" matTooltip="尚未完成" matTooltipPosition="left" *ngIf="element.complete == false">check_box_outline_blank</mat-icon>
        </td>
      </ng-container>
      <!-- Action Button Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-stroked-button>詳情</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <img src="assets/icons/No-data-rafiki.svg" [class]="(isHandset$ | async) ? 'error-image-mobile' : 'error-image-computer'" *ngIf="fetchDataError" alt="Error Image">
  </mat-card-content>
  <mat-card-actions>
    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </mat-card-actions>
</mat-card>
