<mat-card>
  <!-- Content -->
  <ng-container *ngIf="!loading && !fetchDataError">
    <mat-card-header>
      <mat-card-title>抽獎活動詳情</mat-card-title>
      <mat-card-subtitle>識別碼：{{round.id}}</mat-card-subtitle>
      <button mat-raised-button type="button" [routerLink]="['/start', round.id]" color="accent">開始抽獎</button>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>抽獎活動名稱：{{round.name}}</mat-list-item>
        <mat-list-item>
          <button mat-stroked-button type="button" [routerLink]="['/student']" [queryParams]="{ id: round.id }">查看學生名單</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-stroked-button type="button" [routerLink]="['/staff']" [queryParams]="{ id: round.id }">查看工作人員名單</button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="['/raffle/edit', round.id]" color="primary">編輯</button>
    </mat-card-actions>
  </ng-container>
  <!-- Loading -->
  <ng-container *ngIf="loading">
    <mat-card-header>
      <mat-card-title>載入中</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content class="loading-card-content">
      <mat-spinner></mat-spinner>
    </mat-card-content>
  </ng-container>
  <!-- Error -->
  <ng-container *ngIf="fetchDataError">
    <mat-card-header>
      <mat-card-title>發生錯誤</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content class="error-card-content">
      <button mat-stroked-button (click)="reload()" type="button">重新載入</button>
    </mat-card-content>
  </ng-container>
</mat-card>
