.raffle-detail-card {
  min-width: 120px;
  margin-top: 20px;
  margin-bottom: 10vh;
  margin-right: 20px;
  margin-left: 20px;
}

.error-image-mobile {
  display: block;
  margin: 0 auto;
  width: 80vw;
}

.error-image-computer {
  display: block;
  margin: 0 auto;
  width: 55vw;
}
