<mat-card>
  <!-- Content -->
  <ng-container *ngIf="!loading && !fetchDataError">
    <mat-card-header>
      <mat-card-title>清單詳情</mat-card-title>
      <mat-card-subtitle>識別碼：{{item.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <ng-container *ngIf="this.authService.getRole() === 'Admin'">
        <mat-list>
          <mat-list-item>清單名稱：{{item.name}}</mat-list-item>
          <mat-list-item>
            <button mat-stroked-button type="button" [routerLink]="['/raffle/attendee']" [queryParams]="{ id: item.id }">查看參與者名單</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-stroked-button type="button" (click)="showAddFormDialog()">新增參與者名單</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-stroked-button type="button" (click)="showUploadFormDialog()">上傳參與者名單</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-stroked-button type="button" [routerLink]="['/raffle/winner']" [queryParams]="{ id: item.id }">查看得獎者名單</button>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-container *ngIf="this.authService.getRole() === 'Host'">
        <mat-list>
          <mat-list-item>清單名稱：{{item.name}}</mat-list-item>
          <mat-list-item>
            <button mat-stroked-button type="button" [routerLink]="['/raffle/winner']" [queryParams]="{ id: item.id }">查看得獎者名單</button>
          </mat-list-item>
        </mat-list>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">編輯</button>
      <button mat-raised-button color="warn">刪除</button>
    </mat-card-actions>
  </ng-container>
  <!-- Loading -->
  <ng-container *ngIf="loading">
    <mat-card-header>
      <mat-card-title>載入中</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content class="loading-card-content">
      <mat-spinner></mat-spinner>
    </mat-card-content>
  </ng-container>
  <!-- Error -->
  <ng-container *ngIf="fetchDataError">
    <mat-card-header>
      <mat-card-title>發生錯誤</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content class="error-card-content">
      <button mat-stroked-button (click)="reload()" type="button">重新載入</button>
    </mat-card-content>
  </ng-container>
</mat-card>
