<mat-toolbar color="primary" class="title">
  <span>新鮮人成長營</span>
</mat-toolbar>
<div class="content">
  <div class="card">
    <div class="card-title">學生</div>
    <div class="card-subtitle">Student</div>
    <button mat-raised-button type="button" (click)="startStudent()" color="accent" class="card-actions">開始抽獎</button>
  </div>
  <div class="card">
    <div class="card-title">工作人員</div>
    <div class="card-subtitle">Staff</div>
    <button mat-raised-button type="button" (click)="startStaff()" color="accent" class="card-actions">開始抽獎</button>
  </div>
</div>
<p class="power">Powered by HackerSir</p>
