.container {
  // position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  // width: 100vw;
}

.title {
  height: 14vh;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.power {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  height: 10vh;
  width: 30vw;
}

.card {
  flex-grow: 1;
  margin: 10px;
  height: 85vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(66, 66, 66);
  border-radius: 4px;
}

.card:hover {
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.75);
  border: 1px solid rgba(127, 255, 255, 0.75);
}

.card-actions {
  width: 40vw;
  height: 5vh;
}

.card-title {
  height: 35vh;
  font-size: 10em;
}

.card-subtitle {
  height: 20vh;
  font-size: 7em;
  color: rgba(255, 255, 255, 0.7);
}



