<ng-container *ngIf="this.authService.isLoggedIn(); else notLogin">
  <button class="login-button" type="button" [matMenuTriggerFor]="menu" mat-flat-button>
    <mat-icon>account_circle</mat-icon>
    <span>{{this.authService.getUniqueName()}}</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/account/change-password">
      <mat-icon>vpn_key</mat-icon>
      <span>修改密碼</span>
    </button>
    <button mat-menu-item (click)="this.authService.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>登出</span>
    </button>
  </mat-menu>
</ng-container>
<ng-template #notLogin>
  <a [routerLink]="['/account/login']" mat-flat-button class="login-button">
    <mat-icon>account_circle</mat-icon>
    <span>登入</span>
  </a>
</ng-template>
