.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
}

.attendee-add-card {
  min-width: 120px;
  margin-top: 20px;
  margin-bottom: 10vh;
  margin-right: 20px;
  margin-left: 20px;
}

.attendee-add-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.upload-button {
  margin-right: 15px;
}
