@model ApplyViewModel
@{
    ViewData["Title"] = "申請使用";
    var isLogin = User.Claims.Any(x => x.Type == Microsoft.IdentityModel.JsonWebTokens.JwtRegisteredClaimNames.Jti);
}

<article class="message is-warning">
    <div class="message-body">
        若您曾經申請過請<strong>登入後</strong>在填寫此申請單
    </div>
</article>
<h1 class="title is-3 has-text-centered">@ViewData["Title"]</h1>
<hr />
@if (!ViewData.ModelState.IsValid)
{
    @foreach (var modelError in ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
    {
        <div class="notification is-danger">
            <button class="delete"></button>
            @modelError.ErrorMessage
        </div>
    }
}
<div class="box">
    <form asp-area="" asp-controller="Home" asp-action="Apply" method="post" role="form">
        <div class="field mb-5">
            <label asp-for="Name" class="label">姓名</label>
            <div class="control has-icons-left">
                <input asp-for="Name" class="input" type="text" placeholder="請輸入姓名" disabled="@isLogin" />
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <span asp-validation-for="Name" class="help is-danger"></span>
        </div>
        <div class="field mb-5">
            <label asp-for="Email" class="label">電子郵件</label>
            <div class="control has-icons-left">
                <input asp-for="Email" class="input" type="email" placeholder="請輸入電子郵件" disabled="@isLogin" />
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
            <span asp-validation-for="Email" class="help is-danger"></span>
        </div>
        <div class="field mb-5">
            <label asp-for="Purpose" class="label">用途</label>
            <div class="control">
                <textarea asp-for="Purpose" class="textarea" placeholder="請輸入用途"></textarea>
            </div>
            <span asp-validation-for="Purpose" class="help is-danger"></span>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-info is-fullwidth" type="submit">申請</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}