@{
    ViewData["Title"] = "首頁";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/lib/bulma-social/css/all.min.css" />
}

<h1 class="title is-1 has-text-centered">逢甲大學 - 抽獎系統</h1>
<div class="buttons is-centered my-6">
    <a asp-area="" asp-controller="Home" asp-action="Facebook" target="_blank" class="button is-medium is-facebook">
        <span class="icon">
            <i class="fab fa-facebook-f fa-lg"></i>
        </span>
    </a>
    <a asp-area="" asp-controller="Home" asp-action="Instagram" target="_blank" class="button is-medium is-instagram">
        <span class="icon">
            <i class="fab fa-instagram fa-lg"></i>
        </span>
    </a>
    <a asp-area="" asp-controller="Home" asp-action="Site" target="_blank" class="button is-medium">
        <span class="icon">
            <i class="fas fa-link fa-lg"></i>
        </span>
    </a>
    <a asp-area="" asp-controller="Home" asp-action="GitHub" target="_blank" class="button is-medium is-github">
        <span class="icon">
            <i class="fab fa-github fa-lg"></i>
        </span>
    </a>
</div>
<nav class="buttons is-centered">
    <a asp-area="" asp-controller="Activity" asp-action="List" class="button is-black is-outlined is-rounded is-large is-underlined">活動列表</a>
    <a asp-area="" asp-controller="Activity" asp-action="Index" class="button is-black is-outlined is-rounded is-large is-underlined">目前活動</a>
    <a asp-area="" asp-controller="Home" asp-action="Apply" class="button is-black is-outlined is-rounded is-large is-underlined">申請使用</a>
</nav>

@section Scripts {
}
