@{
    ViewData["Title"] = "Home Page";
}

<div class="container has-text-centered">
    <div class="column is-6 is-offset-3">
        <h1 class="title">2021 新鮮人成長營
        </h1>
        <h2 class="subtitle">
            $this is the best software platform for running an internet business. We handle billions of dollars every year for forward-thinking businesses around the world.
        </h2>
        <form>
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" type="text" placeholder="Enter your email">
                </div>
                <div class="control">
                    <button class="button is-primary">查詢</button>
                </div>
            </div>
        </form>
    </div>
</div>
