<p>add works!</p>
<form [formGroup]="addStudentForm" novalidate #formDirective="ngForm" (ngSubmit)="onSubmit(addStudentForm.value, formDirective)" method="POST">
  <mat-card class="student-add-card">
    <mat-card-header>
      <mat-card-title>新增學生</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="學生學號" formControlName="nid">
            <mat-error *ngIf="addStudentForm.controls['nid'].hasError('required')">
              學生學號是<strong>必填的</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="學生姓名" formControlName="name">
            <mat-error *ngIf="addStudentForm.controls['name'].hasError('required')">
              學生姓名是<strong>必填的</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="學生系所" formControlName="department">
            <mat-error *ngIf="addStudentForm.controls['department'].hasError('required')">
              學生系所是<strong>必填的</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!addStudentForm.valid || loading">
        <mat-icon *ngIf="loading">
          <mat-spinner color="accent" diameter="20"></mat-spinner>
        </mat-icon>
        新增
      </button>
    </mat-card-actions>
  </mat-card>
</form>
