@{
    ViewData["Title"] = "網站設定";
}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a asp-area="" asp-controller="Manage" asp-action="Index">管理</a></li>
        <li class="is-active"><a asp-area="" asp-controller="Manage" asp-action="Setting" aria-current="page">@ViewData["Title"]</a></li>
    </ul>
</nav>
<h1 class="title is-3">@ViewData["Title"]</h1>
<hr />
<div class="box">
</div>