.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* 這裡的高度決定 button 高度 */
.action {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

/* 多個 button 時，修改 margin */
button {
  width: 100%;
  margin-left: 20vw;
  margin-right: 20vw;
}

.power {
  margin-top: 5vh;
}
