<form [formGroup]="changePasswordForm" #formDirective="ngForm" novalidate (ngSubmit)="onSubmit(changePasswordForm.value, formDirective)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Admin 註冊</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- password -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>新密碼</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" required>
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.controls['password'].hasError('required')">
              新密碼是<strong>必填的</strong>
            </mat-error>
            <mat-error *ngIf="changePasswordForm.controls['password'].hasError('minlength')">
              新密碼<strong>最少須要八位</strong>
            </mat-error>
            <mat-error *ngIf="changePasswordForm.controls['password'].hasError('maxlength')">
              新密碼<strong>最多六十四位</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- passwordConfirm -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>確認密碼</mat-label>
            <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput formControlName="passwordConfirm" required>
            <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.controls['passwordConfirm'].hasError('required')">
              確認密碼是<strong>必填的</strong>
            </mat-error>
            <mat-error *ngIf="changePasswordForm.controls['passwordConfirm'].hasError('minlength')">
              確認密碼<strong>最少須要八位</strong>
            </mat-error>
            <mat-error *ngIf="changePasswordForm.controls['passwordConfirm'].hasError('maxlength')">
              確認密碼<strong>最多六十四位</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid || loading">
        <mat-icon *ngIf="loading">
          <mat-spinner color="accent" diameter="20"></mat-spinner>
        </mat-icon>
        註冊
      </button>
    </mat-card-actions>
  </mat-card>
</form>
