.container.is-fluid {
    height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
}

.box {
    height: calc(100vh - 150px);
    max-height: calc(100vh - 150px);
    overflow: scroll;
    overflow-x: hidden;
}

h1 {
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882),
    0 0 2px rgba(0, 173, 181, .2882);
}

#container {
    overflow: hidden;
}