<mat-toolbar>選單</mat-toolbar>
<mat-nav-list>
  <!-- Dashboard -->
  <h3 mat-subheader>Dashboard</h3>
  <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon mat-list-icon>home</mat-icon>
    <p mat-line>Home</p>
  </a>
  <ng-container *ngIf="this.authService.isLoggedIn(); else notLoginSlideNav">
    <ng-container *ngIf="this.authService.getRole() === 'Admin'">
      <!-- Account -->
      <h3 mat-subheader>Account</h3>
      <a mat-list-item routerLink="/account/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>account_box</mat-icon>
        <p mat-line>Register</p>
      </a>
      <!-- Raffle -->
      <h3 mat-subheader>Raffle</h3>
      <a mat-list-item routerLink="/raffle" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>Home</p>
      </a>
      <!-- Start -->
      <h3 mat-subheader>Start</h3>
      <a mat-list-item routerLink="/start" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>Home</p>
      </a>
      <a mat-list-item routerLink="/start/host" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>Host</p>
      </a>
      <a mat-list-item routerLink="/start/client" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>Client</p>
      </a>
    </ng-container>
    <ng-container *ngIf="this.authService.getRole() === 'Host'">
      <!-- Raffle -->
      <h3 mat-subheader>Raffle</h3>
      <a mat-list-item routerLink="/raffle" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>Home</p>
      </a>
      <!-- Start -->
      <h3 mat-subheader>Start</h3>
      <a mat-list-item routerLink="/start/host" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>Host</p>
      </a>
    </ng-container>
    <ng-container *ngIf="this.authService.getRole() === 'Client'">
      <!-- Start -->
      <h3 mat-subheader>Start</h3>
      <a mat-list-item routerLink="/start/client" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>Client</p>
      </a>
    </ng-container>
  </ng-container>
  <ng-template #notLoginSlideNav>
    <!-- Account -->
    <h3 mat-subheader>Account</h3>
    <a mat-list-item routerLink="/account/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon mat-list-icon>login</mat-icon>
      <p mat-line>Login</p>
    </a>
  </ng-template>
</mat-nav-list>
